<div class='container'>
  <div class='row vertical-align'>
    <h1 class='text-center'>Hello from VK reminder!</h1>
    <h2 class='text-center'>It lists your friends birthdates from <a href="https://vk.com/">VK</a><h2>
    <div class='text-center'><a class="btn btn-primary btn-lg" href="/auth/vkontakte">Get Started</a></div>
  <div>
</div>
